#map{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: lightgray;
    z-index: -1;
}

.blue {
    background-color: #55211b;
    color: white;
    border: 2px solid black;
}

#sidebar{
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color:#181818;
    box-shadow: inset 0px 0px 10px 0px #282828;
    color: white;
    z-index: 999;
}

#searchbox{
    padding: 10px;
}

#info-text{
    padding: 10px;
}

#selectHistoricalDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom:5px;

}

#selectHikingDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom:5px;

}
#selectMtnDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom:5px;

}
#selectSkiDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
}
#lengthDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
}
#difficultyDrop {
    background-color: #d2eaef;
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
}
#layer-toggle{
    margin-bottom: 10px;
}
#toggle-text{
    padding: 10px;
}

#legend{
    background-color: #d2eaef;
    width: 80%;
    padding: 15px;
    margin: auto;
    color: black;
    height: 260px;
    border-radius: 10px;
    text-align:left;
}
#rating{
    background-color: #d2eaef;
    width: 50%;
    padding: 10px;
    margin: 10px;
}
#legend-text{
    padding: 10px;
}

#thumbnails{
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
}
#comments{
    height: 50px;
}
input[type=text]{
    margin: 10px;
    background-color: lightcyan;
} 
#park-info{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
}
#review{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
}
#leg{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
}
#toggle-button{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
}
#search-button{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
}
#card-collapse{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    width: 300px;
    max-height:350px;
    overflow-y: scroll;
}
#info-collapse{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    width: 250px;
    max-height: 250px;
    overflow-y: auto;
}
#search-collapse{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    width: 275px;
}
#toggle-collapse{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    width: 200px;
}
#review-collapse{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    width: 250px;
    max-height: 350px;
    overflow-y: scroll;
}
